<div class="col mb-3">
    <div class="col-md-12 mb-3">
        <img src="assets/cat1.jpg" class="rounded-circle" width="200px" height="200px">
    </div>
   <hr>
     <div class="col-md-12">
         <div class="col-md-12 mb-3 mt-3">
             <h2> Nouvelle Catégorie</h2>
         </div> 
  
          <div class="col-md-12">

            <form (ngSubmit)="onSubmit()">

              <div class="form-group">
                  <label>Code</label>
                  <input type="text" class="form-control" id="code" 
                  [(ngModel)]="category.code" name="Code" >
              </div>

              <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" id="designation" 
                [(ngModel)]="category.description" name="description" >
            </div>
    
            <button type="submit" class="btn btn-success" value="Submit">
                <i class="fa-solid fa-save blue-color"></i>Submit</button>
            
                          <button class="btn btn-danger mr-3"(click)="cancel()">
                              <i class="fa-solid fa-ban blue-color"></i> &nbsp; Annuler</button>
              </form>
      </div>
    </div>
   
              
</div>
