<div class="row m-3">
  <div class="card col-md-4 text-center mr-3">
     <div class="col">
       <div class="mb-3 mt-3"><img src="assets/user4.png" width="200px" height="200px">
       </div>
       <div class="mb-3">
         <h2>Nom Prenom</h2>
         <small class="form-text text-muted">Adresse, Ville, 123456</small>
       </div>
       <div class="col mb-3 p-0">
         <button type="button" class="btn btn-primary mr-3"><i class="fas fa-pencil-alt"></i>&nbsp;Modifier le profil</button>
         <button type="button" class="btn btn-warning" (click)="modifierMotDePasse()"><i class="fas fa-lock"></i>&nbsp; changer le mot de passe</button>

       </div>
     </div>
  </div>
  <div class="card col-md-7">

    <table class="table">
      
      <tbody>
        <tr>
          <th scope="row">Nom Complet</th>
          <td>nom prenom</td>
         
        </tr>
        <tr>
          <th scope="row">E-mail</th>
          <td>adresse@gmail.com</td>
        
        </tr>
        <tr>
          <th scope="row">Téléphone</th>
          <td colspan="2">+21646273461</td>
          
        </tr>

        <tr>
          <th scope="row">Adresse</th>
          <td colspan="2">Adresse, Ville, 7152</td>
          
        </tr>

        <tr>
          <th scope="row">Entreprise</th>
          <td colspan="2">nom Entreprise</td>
          
        </tr>
      </tbody>
    </table>
    
   </div>

</div>