<div class="col-md-12 mb-3">
  <img src="assets/cat1.jpg" class="" width="200px" height="200px">
</div>
<h3>View Category Details</h3>
<table class="table table-bordered">
    <thead>
      <tr class="table-success">
        <th scope="col">#</th>
        <th scope="col">Code-Category</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-warning">
        <th scope="row">1</th>
        <td>{{category.code}}</td>
        <td>{{category.description}}</td>
       
      </tr>
</tbody>
</table>

<!--affichage simple-->
<!--<div>
    <div>
        <label><b>Code:</b></label> {{category.code}}
    </div>
      <div>
          <label><b>description:</b></label> {{category.description}}
      </div>
</div>-->
