<div class="row mb-1 mr-0 custom-border">
    
    
     <!--date-->
      <div class="card col md-3 custom-border-right mb-1 mt-1 ">
          
         <div class=" row text-center">
              <div class="col-md-11">12.12.2021</div>
          </div>
         
        
      </div>
      <!--quantité-->
       <div class="card col md-3 custom-border-right mb-1 mt-1 "> 
        <div class=" row ">
          <div class="col-md-10">
             <div class="col-md-12 text-center">
                 
                 <h5>139</h5>
                </div>
    
          </div>
        </div>
      </div>
       
       <!--type(sortie ou entrée)-->
      <div class="card col md-3 custom-border-right mb-1 mt-1 "> 
        <div class=" row ">
          <div class="col-md-10">
             <div class="col-md-12 text-center">
                 
                 <h5>Sortie</h5>
                </div>
    
          </div>
        </div>
      </div>
    
    
    
    
    
    
    
       <!--boutons actions-->
       <div class="card col md-3 border-right mb-1 mt-1 text-center ">
         
        <div class=" row">
              
            <h5>Commande_Client</h5> 
        
    
    
    
    
    
    
       </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </div>

</div>    
