<div class="row mb-1 mr-0 custom-border">
<div class="col-md-2 custom-border-right p-1 text-center mb-1 mt-1 ">
   
     <img src="assets/product2.png" width="100px" height="100px">
   
</div>

 <!--détails article-->
  <h3>Liste des articles</h3>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Code-Article</th>
        <th scope="col">Désignation</th>
        <th scope="col">PrixUnitaireHT</th>
        <th scope="col">tauxTVA</th>
        <th scope="col">PrixUnitaireTTC</th>
        <th scope="col">idCategory</th>
        <th scope="col">Actions</th>
      


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let article of articles" >
       
    
    </tbody>
  </table>

</div>
  















