<div class="row mb-1 mr-0 custom-border">
    <div class="col-md-2 custom-border-right p-1 text-center mb-1 mt-1 ">
       
         <img src="assets/user1.jpg" width="100px" height="100px">
       
    </div>
    
     <!--détails Client-->
      <div class="card col md-4 custom-border-right mb-1 mt-1 ">
        <div class="col">
          
         <div class=" row">
            <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
            <div class="col-md-11">Nom</div>
          </div>
          <div class=" row">
            <div class="col-md-1"> <i class="fa-solid fa-circle-info blue-color"></i></div>
            <div class="col-md-11">Prénom</div>
          </div>
    
          <div class=" row">
            <div class="col-md-1"><i class="fa-solid fa-phone blue-color"></i></div>
            <div class="col-md-11">46273461</div>
          </div>
    
          
        </div> 
      </div>
      
    
         
    
    
    
    
    
    
    
       <!--coordonnées-->
       <div class="card col md-4 custom-border-right mb-1 mt-1 ">
        <div class="col">
          
         <div class=" row">
            <div class="col-md-1"><i class="fas fa-home blue-color"></i></div>
            <div class="col-md-11">Adresse1 Adresse2</div>
          </div>
          <div class=" row">
            <div class="col-md-1"> <i class="fas fa-map-marker-alt blue-color"></i></div>
            <div class="col-md-11">123456 Ville</div>
          </div>
    
          <div class=" row">
            <div class="col-md-1"><i class="fas fa-globe-europe blue-color"></i></div>
            <div class="col-md-11">Pays</div>
          </div>
    
          
        </div> 
      </div>
    
    
      <!--boutons actions-->
   <div class="card col md-3 border-right mb-1 mt-1 ">
     
    <div class=" row">
      <div class="col-md-4"><button type="button" class="btn btn-link ">
        <i class="fa-solid fa-pencil"></i>&nbsp; Modifier</button></div>
      <div class="col-md-4"><button type="button" class="btn btn-link "><i class="fa-solid fa-trash"></i>&nbsp; Supprimer</button></div>
      <div class="col-md-4"><button type="button" class="btn btn-link "><i class="fa-solid fa-rectangle-list"></i> &nbsp; Détails</button></div>

    </div>






   </div>
    
    
    
    
    
    
    
    
    
    
    
    
    </div>