<div class="row mb-1 mr-0 custom-border">
    <div class="col-md-2 custom-border-right p-1 text-center mb-1 mt-1 ">
       
         <img src="assets/cmd.jpg" width="100px" height="100px">
       
    </div>
    
     <!--détails client/fournisseur-->
      <div class="card col md-5 custom-border-right mb-1 mt-1 ">
        <div class="col">
          
          <div class=" row">
            <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
            <div class="col-md-10">Nom</div>
          </div>
          <div class=" row">
            <div class="col-md-1"> <i class="fa-solid fa-circle-info blue-color"></i></div>
            <div class="col-md-10">Prenom</div>
          </div>
    
          <div class=" row">
            <div class="col-md-1"><i class="fa-solid fa-phone-alt blue-color"></i></div>
            <div class="col-md-10">+21646273461</div>
          </div>
    
          
        </div> 
      </div>
      <!--details commandes-->
       <div class="col md-3 custom-border-right mb-1 mt-1 "> 
         <div class="col">
          
            <div class=" row">
              <div class="col-md-1"><i class="fas fa-qrcode blue-color"></i></div>
              <div class="col-md-10">CMD-123456</div>
            </div>
            <div class=" row">
              <div class="col-md-1"> <i class="fas fa-calendar-check blue-color"></i></div>
              <div class="col-md-10">12.12.2021
            </div>
      
            <div class=" row">
              <div class="col-md-1"><i class="fas fa-cart-arrow-down  blue-color"></i></div>
              <div class="col-md-10">Livrée</div>
            </div>
      
            
          </div> 
       </div> 
    
       </div>  
    
    
    
    
    
    
    
       <!--les boutons d'actions-->
       <div class="col md-3 border-right mb-1 mt-1 ">
        <div class=" row">
            <div class="col-md-6 text-center">
                <button type="button" class="btn btn-link">
                  <i class="fa-solid fa-pencil"></i>&nbsp; modifier</button>
                  
            </div>
              
              <div class="col-md-6 text-center">
                <button type="button" class="btn btn-link">
                  <i class="fa-solid fa-trash"></i>&nbsp; Supprimer</button>
                  
              </div>


        </div>
        </div>
        
          
    
</div>




