
<div class="alert alert-primary" role="alert">
  <h2>Welcome to the application</h2>
</div>
<br>
<br>
<div class="container">
    <div class="row align-items-start">
      <div class="col">
        <button type="button" class="btn btn-dark" (click)="goToArt()"><i class="fa-brands fa-product-hunt"></i>Accéder à la liste des articles</button>

      </div>
      <div class="col">
        <button type="button" class="btn btn-secondary" (click)="goToCat()"><i class="fa-solid fa-cubes"></i>Accéder à la liste des catégories</button>

      </div>
      <div class="col">
        <button type="button" class="btn btn-dark" (click)="goToCl()"><i class="fa-solid fa-user"></i>Accéder à la liste des Clients</button>

      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row align-items-center">
      <div class="col">
        <button type="button" class="btn btn-secondary" (click)="goToCC()"><i class="fa-solid fa-basket-shopping"></i>Accéder à la liste des Commande Clients</button>

      </div>
      <div class="col">
        <button type="button" class="btn btn-dark" (click)="goToFR()"><i class="fa-solid fa-user-ninja"></i>Accéder à la liste des Fournisseurs</button>

      </div>
      <div class="col">
        <button type="button" class="btn btn-secondary" (click)="goToCf()"><i class="fa-solid fa-basket-shopping"></i>Accéder à la liste des Commande fournisseur</button>

      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row align-items-end">
      <div class="col">
      </div>
      <div class="col">
        <button type="button" class="btn btn-secondary" (click)="goToUser()"><i class="fa-solid fa-users"></i>Accéder à la liste des Utilisateurs</button>

      </div>
      <div class="col">
       
      </div>
    </div>
  </div>

